// nav列
nav {
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(224, 218, 208, 0.8); // 背景色带金雾感
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  // 按鈕切換
  .menu-toggle {
    display: none;
    background-color: #fffdf8; // 柔和奶油色系背景
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #5a4d3a; // 主色（深褐）
    padding: 5px 10px;
    border-radius: 10%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12); // 陰影感
    z-index: 11;
    box-shadow: 0.3s ease;

    &:hover {
      background-color: #a58f5e; // 主色 hover 背景
      color: #fff;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); // 更強的浮出感
    }
  }
  .menu-name {
    display: none;
    margin-left: 15px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: 700;
  }

  // ul
  .nav-link {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 60px;

    li {
      a {
        display: block;
        padding: 10px 0;
        margin-right: 20px;
        font-size: 18px;
        text-decoration: none;
        color: #4a4a4a;
        transition: color 0.3s ease;
        font-weight: 500;

        &.active {
          color: #d4b69b;
          font-weight: 800;
        }

        &:hover {
          color: #d4a373;
        }
      }
    }
  }
}

// 響應式
@media (max-width: 767.98px) {
  nav {
    padding: 20px 20px;
    justify-content: start;

    // 顯示漢堡三條
    .menu-toggle {
      display: block;
    }
    .menu-name {
      display: block;
    }

    // ul
    .nav-link {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &.active {
        display: flex;
      }

      li {
        width: 100%;
        border-bottom: 1px solid #f0f0f0;

        a {
          padding: 15px 20px;

          width: 100%;

          &:hover {
            background-color: #f9f5f0;
          }
        }
      }
    }
  }
}
